

/* footer */

footer{
    background-color: #707793;
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    height: 60px;
    align-items: center;
}
.footer > * :nth-child(1){
    flex: 1 1 50%;
}

.footer > * :nth-child(2){
    flex: 1 1 50%;
}

/* right class */

.right{
    float: right;
}

/* header */

.header{
    display: flex;
    color: white;
}

/* nav */

.header > *:nth-child(1){
    flex: 1 1 90%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
a{
    display: block;
    text-align: center;
    padding: 14px 16px;
}
a:hover{
    background-color: #CCCCCC;
    transition-duration: 1s;
}

/* grid + image */

.header > *:nth-child(2){
    flex: 1 1 10%;
}
.grid-image{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* image */

img{
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

/* main content */
.main{
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: space-between;
}
.main > *{
    flex-grow: 0;
}
.main >*:nth-child(1){
    flex: 1 1 20%;
}
.main>*:nth-child(2){
    flex: 1 1 60%;
    max-height: min-content;
}
.main>*:nth-child(3){
    flex: 1 1 20%;
}
/* title */

.main-title{
    color: white;
    font-size: 50px;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 30px;
    direction:rtl;
    display:inline-block;
    text-indent: -30px;;
}
h1{
    margin: 0px;
}

/* search bar */
.search-bar{
    margin: 10px;
    margin-top: 0;
    
}

.search-bar-fill{
    background-color: white;
    border-radius: 37px;
    height:66px;
    width:851px;
}
.search-bar-icons{
    display: flex;
    margin: 20px;
}
.search-bar-icons > *:nth-child(1){
    flex: 1 1 95%;
    margin-left: 20px;
    margin-top: 20px;
}
.search-bar-icons > *:nth-child(2){
    flex: 1 1 5%;
    margin-top: 20px;
}

/* buttons */

button{
    border: none;
    height: 72px;
    width: 258px;
    border-radius: 5px;
    margin: 15px;
    background-color: white;
    font-size: 22px;
    color: #707793;
    font-family: Arial, sans-serif;
}

.buttons{
    justify-content: center;
    margin: 25px;
    font-size: 18px;
}
.buttons >*:hover{
    background-color: #DFDFDF;
    transition-duration: 0.5s;
}
.buttons>*:active{
    background-color: #C5C5C5;
}
/* body */

.content{
    background-color:#282C34;
    font-size: 18px;
    display: flex;
    flex-flow: column;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
i, a, button, img:hover{
    cursor: pointer;
}
