body{
    height: 100%;
    margin: 0;
}
html{
    font-size: 100%;
    height: 100%;
}

/* footer */

.footer{
    color: white;
    background-color: #707793;
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    align-items: center;
}
.footer>*{
    padding: 1.5em;
}
.footer > * :nth-child(1){
    flex: 1 1 50%;
}

.footer > * :nth-child(2){
    flex: 1 1 50%;
}

/* right class */

.right{
    float: right;
}

/* header */

.header{
    display: flex;
    color: white;
    align-items: center;
    padding-top: 0.5em;
}

/* nav */

.header > *:nth-child(1){
    flex: 1 1 90%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    float: left;
}
a{
    text-align: center;
    padding: 1em 1em;
}
a:hover{
    color: #CCCCCC;
    transition-duration: 0.25s;
}

/* grid + image */

.header > *:nth-child(2){
    flex: 1 1 10%;
}
.grid-image{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* image */
img{
    width: 100%;
}

.header img{
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
}
.search-bar img{
    height: 1.5em;
    width: 1.5em;
}

/* main content */
.main{
    display: flex;
    flex-flow: column;
    align-items:center;
    margin-top: 4em;
}
.main >*:nth-child(1){
    flex: 1 1 20%;
}
.main>*:nth-child(2){
    flex: 1 1 60%;
}
.main>*:nth-child(3){
    flex: 1 1 20%;
}
/* title */

.main-title{
    margin: 1em;
    margin-top: 1em;

}

/* search bar */
.search-bar{

    margin: 1em;
    display: flex;
    position: relative;
    /* justify-content: center; */

}
.input-container{
    width: 100%;
}
.search-bar > *:nth-child(1){
    margin-top: 0.5em;
    margin-left: 0.25em;
    flex: 0 1 25%;
    position: absolute;
    left: 3%;
    z-index: 1;
}
.search-bar > *:nth-child(2){
    flex: 0 1 50%;
    /* position: relative; */
}
.search-bar > *:nth-child(3){
    margin-top: 0.5em;
    margin-right: 0.25em;
    flex: 0 1 25%;
    position:absolute;
    right: 3%;
}

.search-bar-fill{
    background-color: white;
    border-radius: 3em;
    /* height:66px; */
    /* width: 120%; */
    border: none;
    padding: 1em 2.5em;
}
/* buttons */

button{
    border: none;
    height: 3.5em;
    width: 12em;
    border-radius: 0.5em;
    margin: 0.75em;
    background-color: white;
    font-size: 1em;
    color: #707793;
    font-family: Arial, sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
    max-height: fit-content;
}
.buttons >*:hover{
    background-color: #DFDFDF;
    transition-duration: 0.5s;
}
.buttons>*:active{
    background-color: #C5C5C5;
}
/* body */

.content{
    background-color:#282C34;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    justify-content: space-between;
}
.content>*:nth-child(1){
    flex: 0 0 10%;
}
.content>*:nth-child(2){
    flex: 0 0 80%;
}
.content>*:nth-child(3){
    flex: 0 0 10%;
}
i, a, button, img:hover{
    cursor: pointer;
}
@media (max-width: 60rem) {
    .footer {
      flex-direction: column;
    }

    .footer>*{
        padding: 0.5em;
    }
    .header>*:nth-child(1){
        flex-basis: 80%;
    }
    .header>*:nth-child(2){
        flex-basis: 20%;
    }
    .buttons{
        flex-direction: column;
    }
    a{
        padding: 0.25em 0.25em;
    }

  }
  /* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */

